h2{
    color: #FF5930;
}

.mockup-overlay {
   top: 0;
   position: absolute;
   z-index: -1;
   opacity: 0.4;
}

.container {

}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #BCBBBB;
}

.title-super {
    font-size: 50px;
}

.text-thick {
    font-weight: bolder;
}